<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти в аккаунт</title>
</head>
<body>
    <div class="login-container">
        <h2>Войти</h2>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="id_username">Имя пользователя:</label>
            <input type="text" name="username" id="id_username" value="{{ form.username.value }}" required>
            <br>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" id="id_password" required>
            <br>
            <button type="submit">Войти</button>
        </form>

        <div class="form-footer">
            <p>Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегестрироваться</a></p>
        </div>
    </div>
</body>
</html>
